<html>
    <head>
        <title>{{ website_name }} - {{ uri }}</title>
    </head>
    <body>
        {{ 1 + 2 + 3 }} - {{ author }}
        {{ render('tests/templates/_partial.template') }}
    </body>
</html>